.footer-marquee a {
			text-decoration: none; /* Remove underline */
			color: #A52A2A; /* Berry color (adjust as needed) */
		}

.footer-marquee a:hover {
			color: #FF6347; /* Optional: change color on hover */
		}
